.blueBackground{
    background: #6f84ff;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 0 22px 22px 0;
    height: 100vh;
    width: 300px;
    padding-top: 5rem;
    text-align: center;
}

/* FONT SIZE */
.fontSize{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    background: #6f84ff;
}

.fontSize:hover{
    background: #5566c9;
}

.upgradeWhite{
    background: #ffffff;
    max-width: 220px;
    border-radius: 22px;
    text-align: center;
    height: 320px;
    color: #000000;
    margin: auto;
    padding: 12px;
}

.blueBackground a {
    display: flex;
    align-items: center;
    padding: 22px 12px 22px 5rem;
    font-weight: 500;
    font-size: 18px;
}

.blueBackground a:hover {
    background: #fff;
    color: rgb(111, 132, 255);
    width: 99%;
    transition: 0.6s all;
    text-indent: 5px;

}

.fontSpace{
    margin-right: 16px;
    font-size: 26px;
}

.leftIconPad{
    margin-left: 12px;
}

/* DASHBOARD HEADER SECTION */
.dashHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px;
}
.dashHeader .greet{
    display: flex;
    align-items: center;
}

.leftIconPad2 {
    margin-left: 12px;
    font-size: 26px;
}

.dashHead2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashInput{
    margin-right: 25px;
}
.dashInputIcon1{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
}
.dashHead2 .dashInputIcon2{
    margin-right: 25px;
    border: 2px solid blue;
    border-radius: 50%;
    font-size: 28px;
    padding: 5px;
    cursor: pointer;
    max-width: 50px;
}


.DashCont{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 12px;
    border-radius: 40px;
    height: 100vh;
    padding: 22px;
    position: relative;
}

/* Dashboard Contents */

.progressBar{
    border-radius: 5px;
}

.taskProgress{
    flex-grow: 1;
}
.currentTask{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex-grow: 2;
}

.tasksTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleIcons{
    cursor: pointer;
    font-weight: bolder;
}

.contentFlex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3%;
    margin-top: 4%;
}

.dashAddTask{
    flex-grow: 1;
    border-radius: 20px;
    padding: 12px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.addTaskFlex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

/* POP FLEX */
.modalStyle{
    position: absolute;
    top: 0;
    background: #fffbfb;
    padding: 32px;
    width: 50%;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modalStyle_call{
    visibility: visible;
    opacity: 1;
}
.createTaskFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeModal{
    cursor: pointer;
    font-family: sans-serif;    
}